table {
    border-collapse: collapse;
    border-color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table tr th, table tr td {
    padding: 5px;
}

#cabecera {
    background-image: url("imagenes/fondo_gris.gif");
}

.cambio {
    text-align: left;
    background-color: #E6F3FF;
}

.alterno {
    background-color: #FFFFCC;
}